
.toggle-input {
    display: none;
}

.toggle__label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: black;
    border-radius: 10rem;
    margin-left: auto;
    margin-right: auto;
    
}

.toggle__label::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 10rem;
    transition: transform 0.5s;
    transform: translateX(-100%);
}

.toggle-input:checked+.toggle__label::after {
    transform: translateX(0);
}